{% extends 'base.html' %} {% block title %}Actors & Theirs Successful Movies{%
endblock %} {% block content %}

<div class="text-center" style="margin-left: 120px">
   <h2
      class="mb-5 py-2"
      style="background-color: rgb(117, 186, 186); margin-right: 120px"
   >
      Hi {{user.username}}. The most popular movies of the century.
   </h2>
   <div class="row mb-3">
      {% for actor in actors | reverse %}
      <div
         class="col-md-4 px-1 mx-2 mb-5"
         style="border: 2px solid #e8e8e8; border-radius: 10px; width: 420px"
      >
         <h4 class="text-center">{{actor.original_name}}</h4>
         <a href="{{url_for('actor_movies',actor_id_pass=actor.id)}}">
            <img
            src="https://image.tmdb.org/t/p/w500{{actor.profile_path}}"
            alt="{{actor.original_name}}"
            style="width: 300px; height: 350px"
         />
         </a>
      </div>
      {% endfor %}
   </div>
</div>
{% endblock %}
