{% extends 'base.html' %} {% block title %}Home Page{% endblock %} {% block
content %}
<div class="text-center" style="margin-left: 120px">
   <h2
      class="mb-5 py-2"
      style="background-color: rgb(117, 186, 186); margin-right: 120px"
   >
      Hi {{user.username}}. The movies are yours. Enjoy them!
   </h2>
   <!-- select option -->
   <div class="mb-5">
      <label for="year" style="font-size: 20px;">Select year released: </label>
      <select id="year" onchange="filterMovies()" style="width:100px; border-radius: 10px;">
      <option value="all">All</option>
         {%for y in years%}
            <option value="{{y}}">{{y}}</option>  
         {%endfor%}
      </select>
   </div>   
   <div class="row mb-3">
      {% for movie in movies | reverse %}
      <div
         class="col-md-4 px-1 mx-2 mb-3"
         style="border: 2px solid #e8e8e8; border-radius: 10px; width: 420px"
      >
      <div class="d-flex flex-column justify-content-between">
         <h4 class="text-center py-2">{{movie.original_title}}</h4> 
         <form method="post" action="{{url_for('save',original_title=movie.original_title)}}">
            <input type="hidden" id="originalTitleInput" name="original_title" value="{{movie.original_title}}">
            <button type="submit"
            onclick="saveMovie()"
            class="" style="width:27px;height: 27px;border:none"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy2" viewBox="0 0 16 16">
               <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v3.5A1.5 1.5 0 0 1 11.5 6h-7A1.5 1.5 0 0 1 3 4.5V1H1.5a.5.5 0 0 0-.5.5m9.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"/>
            </svg><small>Save</small></button>  
         </form>
      </div>
      <img
         src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}"
         alt="{{movie.original_title}}"
         style="width: 360px; height: 370px"
      />
         <pre>{{movie.overview}}</pre>        
         <h5 class="text-center">Release date: {{movie.release_date}}</h5>
      </div>
      {% endfor %}
   </div>
   <script>
      const filterMovies = ()=>{
         var selectedYear = document.getElementById("year").value;
         window.location.href='/home?selected_year='+selectedYear
      }
      const saveMovie =async()=>{
         var originalTitle=document.getElementById("originalTitleInput").value
         console.log(originalTitle)
         try {
            const response = await fetch(`/save/${originalTitle}`,{method:"POST"})

            if (response.ok) {
               const responseBody = await response.text()
               console.log('Text returned: ',responseBody)
               return responseBody
            } else {
               console.log('Save failed:: ',response.statusText)
               return Promise.reject('Save failed backend.')
            }
         } catch(error){
            console.error("Save failed: ".error.message)
            return Promise.reject('Fetch failed backend.')
         }
      }
   </script>
</div>

{% endblock %}
